<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="common/layouts/default_layout" layout:fragment="Content">
<head>
<meta charset="UTF-8" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous" />
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
<title>투명드래곤이 울부짖었다.</title>
</head>
<body>
	<div class="container">
		<h3>사원 상세 조회</h3>
		<div>
			<div>
				<label for="eId">사원번호</label>
				<input id="eId" type="text" th:value="${emp.employeeId}" readonly />
			</div>
			<div>
				<label for="ename">이름</label>
				<input id="ename" type="text" th:value="${emp.lastName}" readonly />
			</div>
			<div>
				<label for="email">E-mail</label>
				<input id="email" type="email" th:value="${emp.email}" readonly />
			</div>
			<div>
				<label for="hdate">입사일</label>
				<input id="hdate" type="date" th:value="${#dates.format(emp.hireDate, 'yyyy-MM-dd')}" readonly />
			</div>
			<div>
				<label for="job">업무</label>
				<input id="job" type="text" th:value="${emp.jobId}" readonly />
			</div>
			<div>
				<label for="sal">급여</label>
				<input id="sal" type="number" step="0.01" th:value="${emp.salary}" readonly />
			</div>
			<div>
				<button type="button" th:onclick="|location.href='@{/empUpdate(employeeId=${emp.employeeId})}'|">수정</button>
				<button type="button" th:onclick="|location.href='@{/empList}'|">목록</button>
				<button type="button" th:onclick="|location.href='@{/empDelete(empId=${emp.employeeId})}'|">삭제</button>
			</div>
		</div>
	</div>
</body>
</html>
